@model App.WithAuthentication.Models.Company
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>@Model.Name</h2>
<strong><em>@Model.Address</em></strong>
<p>
    <b>RC:</b> @Model.RcNumber | <b>Email:</b> @Model.Email | <b>Phone:</b> @Model.Phone
</p>